//fonts 

$circularStdBold : 'Circular Std Bold'; 
$circularStdBook : 'Circular Std Book'; 
$circularMedium : 'Circular Std Medium' ; 

//breakpoints
$mobile : 320px - 40; 
$medium : 780px - 40;
$desktop : 1280px - 40; 