//fonts 
$circularStdBold: 'Circular Std Bold';
$circularStdBook: 'Circular Std Book';
$circularMedium: 'Circular Std Medium';
//breakpoints
$mobile: 320px;
$medium: 768px;
$desktop: 1280px;
//colors
$black: #111111;
$mainBlue: #1E96D4;