header {
    @include page-width-default($desktop);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    .logo {
        width: 100%;
        border-bottom: 1px solid #EEEFF2;
        text-align: center;
    }
}